*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .car-canvas{
        height: 100vh;
        width:  65vw;
        cursor: grab;
    }

    .car-canvas:active{
        cursor: grabbing;
    }


}


